
// Colors

// Hero Theme colors
$hero-bg-color: $white-ter;

// Bulma color variables
$blue: #00A5CF;
$green: #004E64;
$pink: #F61067;

$info: $blue;
$link: $green;


// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;