
// Colors

// Hero Theme colors
$h-bg-color: $white-ter;

// Bulma color variables
$blue: #094D92;
$green: #004E64;
$pink: #F61067;

$info: $blue;
$link: $green;




// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;