
// Colors

// Hero Theme colors
$h-bg-color: $white-ter;

// Bulma color variables

// Also see https://bulma.io/documentation/customize/variables/


$blue:#91AAAF;
$green: #253F41;
$pink: #854E6F;
$yellow: #CE8F33;
$info: $yellow;
$primary: $green;
$link: $pink;


// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800,800i&display=swap);

$weight-bold: 800;

$family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;