{{ define "main" }}
{{ partial "navbar.html" . }}
<main class="h-main">
    {{ partial "breadcrumbs.html" . }}
    <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd reverse-columns">
        <div class="h-leftcol">{{ partial "section-tree" . }}</div>
        <div class="column is-two-thirds-desktop">
            <div class="content">
                {{ $cover :=  partial "funcs/get-cover-image.html" . }}
                <h1>{{ .Title }}</h1>
                {{ with $cover }}
                {{ $img := $cover.Fill "800x600" }}
                {{ with $img }}
                <figure>
                    <img src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ with .Params.byline }}<figcaption>{{ . }}</figcaption>{{ end }}
                </figure>
                {{ end }}
                {{ end }}
                {{ .Content}}
            </div>
        </div>
    </div>
</main>
{{ end }}