<nav x-data="{ open: false }" class="navbar {{ if not .IsHome }} is-info is-gradient has-shadow{{ end }}" role="navigation"
  aria-label="main navigation" id="nav">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold has-text-primary	 is-size-5 is-uppercase"
      href="{{ site.Home.RelPermalink }}">
      {{ site.Params.hero_site.name }}
    </a>

    <a role="button" x-bind:class="{ 'is-active': open  }" x-on:click="open = !open" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-nav" x-bind:class="{ 'is-active': open }" class="navbar-menu">
    <div class="navbar-start">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $isActive := (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}
      <a class="navbar-item{{if $isActive }} is-active{{end}}" href="{{ .URL }}">
        {{ with .Pre }}
        <span></span><span class="icon">
          <i class="{{ . }}"></i>
        </span></span>
        {{ end }}
        {{ .Title }}
      </a>
      {{ end }}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
