{{ define "main" }}
<section class="hero is-info is-medium is-bold">
    <div class="hero-head">
        {{ partial "navbar.html" . }}
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {{ with site.Params.hero_content.hero.logo }}
            <img src="{{ . | relURL }}" alt="Logo" class="h-hero-logo" />
            {{ end }}
            {{ with site.Params.hero_content.hero }}
            <h1 class="title is-size-1">
                {{ .title | markdownify }}
            </h1>
            <h2 class="subtitle">
                {{ .subtitle | markdownify }}
            </h2>
            {{ end }}
        </div>
    </div>
</section>
<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">New</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
    </p>
</div>

{{ $imageFilters := slice (images.Grayscale) }}
<section class="container">
    <div class="columns features">
        {{ $cards := partial "funcs/build-query.html" site.Params.hero_queries.featured_articles | first 3 }}
        {{ range $cards }}
        <div class="column is-4">
            <div class="card is-shady">
                {{ $cover :=  partial "funcs/get-cover-image.html" . }}
                <div class="card-image has-text-centered">
                        {{ with $cover }}
                        {{ $img := $cover.Fill "640x480" | images.Filter $imageFilters }}
                        {{ $big := $cover.Resize "1000x center" }}
                        {{ template "home-modal-image" (dict "img1" $img "img2" $big "class" "is-4by3")}}
                        {{ end }}
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>{{ .Title }}</h4>
                        <p>{{ .Summary | truncate 200  }}

                            {{ with $cover }}
                            {{ with .Params.byline }}<small><i>{{ . }}</i></small>{{ end }}
                            {{ end }}
                        </p>
                        <p><a href="{{ .RelPermalink }}">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

    </div>
    <div class="intro column is-8 is-offset-2">
        <h2 class="title">Perfect for developers or designers!</h2><br>
        <p class="subtitle">Vel fringilla est ullamcorper eget nulla facilisi. Nulla facilisi nullam vehicula ipsum
            a. Neque egestas congue quisque egestas diam in arcu cursus.</p>
    </div>
    <div class="sandbox">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                {{ $newDiv := false }}
                {{ $pages := partial "funcs/build-query.html" site.Params.hero_queries.featured_articles  }}
                {{ $pages := $pages | complement $cards | first 3 }}
                {{ range $i, $e := $pages }}
                {{ $i = add $i 1 }}
                {{ if (modBool $i 3) }}
                {{ $newDiv = true }}
                {{ else }}
                {{ $newDiv = false }}
                {{ end }}
                {{ if $newDiv }}
            </div>
            <div class="tile is-parent">
                {{ end }}
                <div class="tile is-child box">
                    <p class="title">{{ .LinkTitle }}</p>
                    {{ $cover :=  partial "funcs/get-cover-image.html" . }}
                    {{ with $cover }}
                    {{ $img := $cover.Fill "800x400 center" | images.Filter $imageFilters }}
                    {{ $big := $cover.Resize "1000x center" }}
                    {{ template "home-modal-image" (dict "img1" $img "img2" $big "class" "is-2by1")}}
                    {{ end }}

                    <p class="subtitle">
                        {{ with $cover }}
                        {{ with .Params.byline }}<p><small>{{ . }}</small></p>{{ end }}
                        {{ end }}
                    </p>
                    <p class="subtitle">
                        {{ if $newDiv }}
                        {{ .Content }}
                        {{ else }}
                        {{ .Summary }}
                        {{ end }}

                    </p>
                    <hr />
                    <p><a href="{{ .RelPermalink }}">Read more</a></p>
                </div>
                {{ if $newDiv }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    </div>
</section>
{{ end }}

{{ define "home-modal-image" }}
<div class="control" x-data="{ show: false }">
    <figure class="image {{ with .class }}{{ . }}{{ end }}" @click="show = ! show" @click.away="show = false">
        <img src="{{ .img1.RelPermalink }}">
        <i class="glass fas fa-expand-arrows-alt"></i>
    </figure>
    <div class="modal" x-bind:class="{ 'is-active': show }" @keydown.escape.window="show = false">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image">
                <img src="{{ .img2.RelPermalink }}" alt="{{ .img2.Title }}">
            </p>
        </div>
        <button @click="show = ! show" class="modal-close is-large" aria-label="close"></button>
    </div>
</div>
{{ end }}